<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Profesor</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Fecha Inicial</th>
            <th>Fecha Final</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12</td>
            <td>Mauricio</td>
            <td>Matematicas Integrales</td>
            <td>Hacer todas las ecuaciones de clase</td>
            <td>Activo</td>
            <td>4/Agosto/2024</td>
            <td>14/Agosto/2024</td>
        </tr>
    </tbody>
</table>